*{
    box-sizing: border-box;
}
html{
  margin: 0px;
}
body{
    background: url('../ASSETS/background1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}


/* .container{
    padding: 20px 30px;
    margin: 25px auto;
    background-color: rgb(4, 87, 130);
    border: 15px solid rgb(0, 141, 210);
    border-radius: 33px;;
    height: 631px;
    width: 800px;
    opacity: 0.8;
} */

.container{
  position: absolute;
  height: 100vh;
  right: 0;
  left: 0;
}

.inside{
  font-family: 'Oswald', sans-serif;
  width: 100%;
  height: 90vh;
  margin : 80px auto;
  padding-top: 10px;
  background-color: rgba(11, 19, 33, 0.85);
  border-radius: 40px;
}

.question{
  padding-top: 20px;
  text-align: center;
    color: white;
    font-size: 30px;
    margin: 20px;
}

.options{
  text-align: center;
    font-size: 20px;
    color: white;
    margin: 20px;
    text-align: left;
    padding-left: 61px;
    padding-bottom: 30px;
}
.button{
    padding: 20px;

}


  #countdown {
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: 30px;
    width: 40px;
    text-align: center;
    background-color: rgba(11, 19, 33, 0.85);
  }

  #countdown-number {
    color: white;
    display: inline-block;
    line-height: 40px;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }

  svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 3px;
    stroke: white;
    fill: none;
    animation: countdown 60s linear 1 forwards;
  }



  input[type="radio"]{
    transform: scale(1.5);
    margin-right: 10px;
  }

  /*Subbmit Button*/
  input[type="submit"]{
    text-align: center;
    background-color:#00bafa;
    color: white;
    padding: 12px 10px;
    border: none;
    margin-left: 40%;
    border-radius: 4px;
    cursor: pointer;
    width: 15%;
    font-size: 25px;
 }

 input[type="submit"]:hover{
  background-color: rgb(0, 141, 210);
    font-size: 25px;
    cursor: pointer;
 }

  /*Navigation Bar*/

  .navbar {
    background-color: rgba(11, 19, 33, 0.85);
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
  }
  .navbar-brand {
    font-size: 30px;
  }

  .nav-item {
    padding: 5px;
    padding: 5px 20px;
  }

  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }
