*{
    margin:0;
    padding: 0;
}

body{
/* background: url('bg.jpg') no-repeat center center fixed; */
background: url('https://i.gifer.com/7Saf.gif') no-repeat center center fixed;
background-size: cover;
}

.container{
    color:white;
    position: absolute;
    top:20%;
    left:40%;
}

.container h1{
font-family: 'Baloo Bhai 2', cursive;
width:95%;
display: inline-block;
font-size: 40px;
border-bottom: 5px solid purple ;
margin-bottom: 13px;
}

.box{
    width:100%;
    margin: 22px 0px;
    border-bottom: 2px solid purple;
}

.box input{
    font-family: 'Bree Serif', serif;
    background:none;
width:75%;
padding: 5px 2px;
font-size: 20px;
border:none;
outline:none;
color: white;
}

.box i{
    width:25px;
    text-align: center;
}

.btn{
    font-family: 'Bree Serif', serif;
    cursor: pointer;
    margin:12px;
    padding:10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    color: white;
    font-weight: bold;
    /* opacity: 0.6; */
}
.btn:hover{
        color: purple;
        background:white;
}
