body {
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
  background-image: url('front.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

hr {
  border: solid #00818A 3px;
  border-bottom: none;
  width: 30%;
  margin: 80px auto 80px auto;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #126E82
}

h3 {
  font-size: 1.3rem;
  color: #126E82
}

.navbar {
  background-color: #0b1321;
  opacity: 85%;
}

.nav-item {
  padding: 5px;
}

.top-container {
  margin-top: 0px;
  padding-top: 12rem;
  padding-bottom: 15rem;
}



.name {
  font-size: 6.625rem;
  color: cyan;
  font-family: 'Audiowide', cursive;
  margin: 30px auto 55px auto;
  font-weight: normal;
  -webkit-text-stroke: 2px black;
   text-shadow:
       5px 5px 0 #FF00E7,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.subhead {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: cyan;
  font-size: 5rem;
  padding-bottom: 3.5rem;
   text-shadow:
       3px 3px 0 #FF00E7,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}





button, button::after {
  width: 280px;
  height: 86px;
  font-size: 56px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, cyan 5%);
  border: 0;
  color: #FF00E7;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #FF00E7;
  position: relative;
  opacity: 85%;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF00E7 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}








.bottom-container {
  text-align: center;
  background-color: #0b1321;
  padding: 5px;
  opacity: 85%;
}

.love{
  color: white;
  font-size: 0.9rem;
}

.open-source
{
  color: white;
  font-size: 0.8rem;
}

.open-source a
{
  text-align: center;
  text-decoration: none;
  color: #322d6e;
}

.open-source a:hover
{
  color: #DBEDF3;
  text-decoration: underline;
  font-weight: lighter;

  /* This prevents movement of other text when the weight is changed to lighter from bold on hover */
  letter-spacing: 0.5px;
}

@media (max-width: 974px) {

  .name {
    font-size: 4rem;
    color: cyan;
    margin: 30px auto 55px auto;
    font-weight: normal;
  }

  .subhead {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: cyan;
    font-size: 1.5rem;
    padding-bottom: 3.5rem;
  }

}
